# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
report.pdf

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Virtualenv
venv/

__pycache__/

svd
svd_small
#dataset
input/
team.txt